{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To <i>Methylglutamine Predictor</i></h1>
    <p class="lead" style="text-align: justify;">γ-Glutamylmethylamide (gamma-Glutamylmethylamide, abbrev. GMA, synonyms N-methyl-L-glutamine, metheanine) is an amino acid analog of the proteinogenic amino acids L-glutamic acid and L-glutamine, found primarily in plant and fungal species; simply speaking, it is L-glutamine methylated on the amide nitrogen.[citation needed] It is an identified an important biosynthetic intermediate allowing bacteria (e.g., methanotrophs) use of methylated amines as carbon and nitrogen source for growth (and so of significant biotechnological interest).[1][2][3][non-primary source needed] Like its close relative theanine, it is a pharmacologically active constituent of green tea, with preliminary evidence for at least comparable activity to theanine as a hypotensive.[4][non-primary source needed]

 </p>
  </div>
{% endblock %}
